<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maknaez.mapper.BoardMapper">

	<sql id="where-list">
		<choose>
			<when test="condition == 'all'">
				( INSTR(subject, #{keyword}) &gt; 0 OR INSTR(content, #{keyword}) &gt; 0 )
			</when>
			<when test="condition == 'reg_date'">
				( TO_CHAR(reg_date, 'YYYY-MM-DD') = #{keyword} OR TO_CHAR(reg_date, 'YYYYMMDD') = #{keyword} )
			</when>
			<when test="condition == 'userName'">
				INSTR(userName, #{keyword}) &gt; 0
			</when>
			<when test="condition == 'subject'">
				INSTR(subject, #{keyword}) &gt; 0
			</when>
			<when test="condition == 'content'">
				INSTR(content, #{keyword}) &gt; 0
			</when>
		</choose>
	</sql>

	<insert id="insertBoard" parameterType="com.maknaez.model.BoardDTO">
		INSERT INTO board (num, userId, userName, subject, content, reg_date, hitCount, saveFilename, originalFilename)
		VALUES (board_seq.NEXTVAL, #{userId}, #{userName}, #{subject}, #{content}, SYSDATE, 0,
		#{saveFilename, jdbcType=VARCHAR}, #{originalFilename, jdbcType=VARCHAR})
	</insert>

	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0) FROM board
		<where>
			<if test="userId != null and userId != ''">
				AND userId = #{userId}
			</if>
			<if test="keyword != null and keyword != ''">
				AND <include refid="where-list" />
			</if>
			<if test="status == 'wait'">
                AND replyContent IS NULL
            </if>
            <if test="status == 'done'">
                AND replyContent IS NOT NULL
            </if>
		</where>
	</select>

	<select id="listBoard" parameterType="map" resultType="com.maknaez.model.BoardDTO">
		SELECT num, userId, userName, subject, content, reg_date, hitCount, saveFilename, originalFilename,
               replyContent, replyDate
		FROM board
		<where>
			<if test="userId != null and userId != ''">
				AND userId = #{userId}
			</if>
			<if test="keyword != null and keyword != ''">
				AND <include refid="where-list" />
			</if>
            <if test="status == 'wait'">
                AND replyContent IS NULL
            </if>
            <if test="status == 'done'">
                AND replyContent IS NOT NULL
            </if>
		</where>
		ORDER BY num DESC
		OFFSET #{offset} ROWS FETCH NEXT #{size} ROWS ONLY
	</select>

	<select id="findById" parameterType="Long" resultType="com.maknaez.model.BoardDTO">
		SELECT num, userId, userName, subject, content, reg_date, hitCount, saveFilename, originalFilename,
               replyContent, replyDate, replyId
		FROM board
		WHERE num = #{num}
	</select>

	<update id="updateBoardReply" parameterType="com.maknaez.model.BoardDTO">
		UPDATE board SET 
			replyContent = #{replyContent},
			replyDate = SYSDATE,
			replyId = #{replyId}
		WHERE num = #{num}
	</update>
    
	<update id="updateHitCount" parameterType="Long">
		UPDATE board SET hitCount = hitCount + 1 WHERE num = #{num}
	</update>

	<select id="findByPrev" parameterType="map" resultType="com.maknaez.model.BoardDTO">
		SELECT num, subject FROM board
		<where>
			<if test="userId != null and userId != ''">
				AND userId = #{userId}
			</if>
			<if test="keyword != null and keyword != ''">
				AND <include refid="where-list" />
			</if>
			AND (num &gt; #{num})
		</where>
		ORDER BY num ASC FETCH FIRST 1 ROWS ONLY
	</select>

	<select id="findByNext" parameterType="map" resultType="com.maknaez.model.BoardDTO">
		SELECT num, subject FROM board
		<where>
			<if test="userId != null and userId != ''">
				AND userId = #{userId}
			</if>
			<if test="keyword != null and keyword != ''">
				AND <include refid="where-list" />
			</if>
			AND (num &lt; #{num})
		</where>
		ORDER BY num DESC FETCH FIRST 1 ROWS ONLY
	</select>

	<delete id="deleteBoard" parameterType="map">
		DELETE FROM board WHERE num = #{num}
	</delete>

	<select id="listNotice" parameterType="map" resultType="com.maknaez.model.BoardDTO">
		SELECT num, subject, reg_date, hitCount, saveFilename, originalFilename, isNotice, isShow, userName
		FROM notice
		<where>
			<if test="keyword != null and keyword != ''">
				AND <include refid="where-list" />
			</if>
			<if test="isShow != null">
				AND isShow = #{isShow}
			</if>
		</where>
		ORDER BY isNotice DESC, num DESC
		OFFSET #{offset} ROWS FETCH NEXT #{size} ROWS ONLY
	</select>

	<select id="dataCountNotice" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0) FROM notice
		<where>
			<if test="keyword != null and keyword != ''">
				AND <include refid="where-list" />
			</if>
			<if test="isShow != null">
				AND isShow = #{isShow}
			</if>
		</where>
	</select>

	<insert id="insertNotice" parameterType="com.maknaez.model.BoardDTO">
		INSERT INTO notice (num, subject, content, reg_date, hitCount, saveFilename, originalFilename, isNotice, isShow, userName)
		VALUES (notice_seq.NEXTVAL, #{subject}, #{content}, SYSDATE, 0,
		#{saveFilename, jdbcType=VARCHAR}, #{originalFilename, jdbcType=VARCHAR},
		#{isNotice}, #{isShow}, #{userName}) 
	</insert>

	<update id="updateNotice" parameterType="com.maknaez.model.BoardDTO">
		UPDATE notice SET 
			subject=#{subject}, content=#{content}, 
			isNotice=#{isNotice}, isShow=#{isShow},
			saveFilename=#{saveFilename, jdbcType=VARCHAR},
			originalFilename=#{originalFilename, jdbcType=VARCHAR}
		WHERE num = #{num}
	</update>

	<delete id="deleteNotice" parameterType="Long">
		DELETE FROM notice WHERE num = #{num}
	</delete>

	<select id="findByIdNotice" parameterType="Long" resultType="com.maknaez.model.BoardDTO">
		SELECT num, subject, content, reg_date, hitCount, saveFilename, originalFilename, isNotice, isShow, userName
		FROM notice WHERE num = #{num}
	</select>

	<update id="updateHitCountNotice" parameterType="Long">
		UPDATE notice SET hitCount = hitCount + 1 WHERE num = #{num}
	</update>

	<select id="listFaq" parameterType="map" resultType="com.maknaez.model.FaqDTO">
		SELECT num, category, subject, content FROM faq
		<where>
			<if test="category != null and category != 'all'">
				AND category = #{category}
			</if>
		</where>
		ORDER BY num DESC
	</select>
	
</mapper>