<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maknaez.mapper.WishlistMapper">

    <insert id="insertWish" parameterType="com.maknaez.model.WishlistDTO">
        INSERT INTO wishlist (wish_id, memberIdx, prod_id, isliked, reg_date)
        VALUES (wish_seq.NEXTVAL, #{memberIdx}, #{prodId}, 1, SYSDATE)
    </insert>

    <delete id="deleteWish" parameterType="map">
        DELETE FROM wishlist 
        WHERE memberIdx = #{memberIdx} AND prod_id = #{prodId}
    </delete>

    <select id="listWish" parameterType="map" resultType="com.maknaez.model.WishlistDTO">
        SELECT * FROM (
            SELECT ROWNUM rnum, tb.* FROM (
                SELECT 
                    w.wish_id AS wishId, 
                    w.memberIdx, 
                    w.prod_id AS prodId,
                    p.prod_name AS prodName, 
                    p.base_price AS price, 
                    p.thumb_nail AS thumbnail
                FROM wishlist w
                JOIN products p ON w.prod_id = p.prod_id
                WHERE w.memberIdx = #{memberIdx}
                ORDER BY w.wish_id DESC
            ) tb WHERE ROWNUM &lt;= #{end}
        ) WHERE rnum &gt;= #{start}
    </select>

    <select id="dataCountWish" parameterType="map" resultType="Integer">
        SELECT COUNT(*) FROM wishlist WHERE memberIdx = #{memberIdx}
    </select>
    
    <select id="checkWish" parameterType="map" resultType="Integer">
        SELECT COUNT(*) FROM wishlist 
        WHERE memberIdx = #{memberIdx} AND prod_id = #{prodId}
    </select>

</mapper>